@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600");
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #d7dae5;
  display: flex;
  justify-content: center;
  font-size: 15px;
  opacity: 0.9;
}

.phone {
  margin-top: 20px;
  width: 350px;
  height: 700px;
  background-color: white;
  border-radius: 40px;
  box-shadow: inset -6px -6px 30px rgba(145, 160, 180, 0.5),
    30px 30px 30px rgba(118, 146, 180, 0.18);
  overflow: hidden;
  padding: 20px;
}

.screen {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background-color: white;
  background: linear-gradient(rgb(255, 255, 255) 20%, rgba(0, 0, 0, 0.15));
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 40px;
}

.main .main__title-wrapper {
  display: flex;
  justify-content: space-between;
}

.main .title {
  font-weight: 600;
}

.main .red-text {
  color: red;
  font-size: 13px;
}

.main__photos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__photos .photo {
  width: 48%;
  height: 85px;
  /* background-color: red; */
  margin-bottom: 10px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo:nth-child(1) {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.015) 10%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/img1.jpeg");
  background-size: cover;
  background-position: center;
}

.photo:nth-child(2) {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.015) 10%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/img2.jpeg");
  background-size: cover;
  background-position: top;
}

.photo:nth-child(3) {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.015) 10%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/img3.jpeg");
  background-size: cover;
  background-position: center;
}

.photo:nth-child(4) {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.015) 10%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/img4.jpeg");
  background-size: cover;
  background-position: bottom;
}

.main__other-wrapper {
  margin-top: 20px;
}

.category-wrapper {
  margin-top: 20px;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 0px 15px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.05);
}
.category .category-text {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}

.category-text .text-top {
  font-weight: 600;
}
.category-text .text-bottom {
  opacity: 0.5;
}
.category .category-icon {
  color: red;
  font-size: 20px;
}

.tab-bar {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
}

.tab-bar__list {
  height: 100%;
  font-size: 20px;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab-bar__tab:nth-child(2) {
  color: red;
}
